aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
amqp==5.3.1
anyio==4.8.0
asgiref==3.8.1
attrs==24.2.0
autobahn==24.4.2
Automat==24.8.1
billiard==4.2.1
Brotli==1.1.0
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
channels==4.1.0
channels-redis==4.2.0
charset-normalizer==3.3.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
constantly==23.10.4
cryptography==43.0.3
daphne==4.1.2
Django==4.2
django-admin-list-filters==1.2
django-cors-headers==4.4.0
django-easy-audit==1.3.7
django-jazzmin==3.0.0
django-jazzmin-admin-rangefilter==1.0.0
django-modeltranslation==0.19.7
django-phonenumber-field==8.0.0
django-redis==5.4.0
django-tracking2==0.5.1
djangochannelsrestframework==1.2.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
et_xmlfile==2.0.0
frozenlist==1.5.0
g4f==0.3.8.2
gunicorn==20.1.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
inflection==0.5.1
kombu==5.4.2
msgpack==1.1.0
multidict==6.1.0
nest-asyncio==1.6.0
openpyxl==3.1.5
packaging==24.1
phonenumbers==8.13.44
pillow==10.4.0
prompt_toolkit==3.0.48
propcache==0.2.1
psycopg2-binary==2.9.9
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycryptodome==3.21.0
PyJWT==2.9.0
pyOpenSSL==24.2.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.1
PyYAML==6.0.2
redis==5.2.0
requests==2.32.3
service-identity==24.2.0
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.1
Twisted==24.10.0
txaio==23.1.1
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
websockets==13.1
yarl==1.18.3
zope.interface==7.1.1